<a href="https://colab.research.google.com/github/05-515/AI-start/blob/main/hw_analytics_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание. Библиотека Pandas
В этом задании вы проанализируете данные из Appstore

<img src="https://drive.google.com/uc?export=view&id=1F1Qajgj-dC4o4VI3Wm7fIGlOJA0a60_B" width=300 height=300>

In [3]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata (18 kB)
Collecting python-dateutil>=2.8.2 (from pandas)
  Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: numpy>=1.20.3 in c:\users\030110\appdata\roaming\python\python38\site-packages (from pandas) (1.24.4)
Collecting six>=1.5 (from python-dateutil>=2.8.2->pandas)
  Downloading six-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
    --------------------------------------- 0.2/10.8 MB 1.8 MB/s eta 0:00:06
   - -------------------------------------- 0.4/10.8 MB 2.9 MB/s eta 0:00:04
   -- ------------------------------------- 0.6/10.8 MB 3.5 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/10.8 MB 5.9 MB/s eta 0:00:02
   --------- ------------------------------ 2.7/10.8 MB 10.0 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.8 MB 18.0 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.8 MB 18.0 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/10.8 MB 18.9 MB/s eta 0:00:01
   -------------------------------------- - 10.4/10.8 MB 26.2 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.8 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 26.2 MB/s eta 0:00:00
Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
   ---------------------------------------- 0.0/229.9 kB ? eta -:--:--
   ---------------------------------------- 229.9/229.9 kB ? eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 31.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.5 MB/s eta 0:00:00
Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: pytz, tzdata, six, python-dateutil, pandas
Successfully installed pandas-2.0.3 python-dateutil-2.9.0.post0 pytz-2024.1 six-1.16.0 tzdata-2024.1

In [1]:
import pandas as pd
import numpy as np

### Данные для задания: https://drive.google.com/file/d/1JVVkVH5PysaGwULKZKFRVZTc6n4psAvW/view?usp=sharing

In [3]:
data = pd.read_csv('c:\\1\\BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [4]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

## Задание 3
Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [48]:
data[((data['Gender'] == 'M') & (data['Age'] == '26-35') & (data['Gender']== 'F') & data['Age'].isin(['36-45', '46-50', '51-55', '55+']))]

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category_1, Product_Category_2, Product_Category_3, Purchase]
Index: []

In [50]:
m = data[(data['Age'] == "26-35") & (data['Gender'] == "M")].shape[0]

f = data[(data['Gender'] == "F") & ((data['Age'] == "36-45") | (data['Age'] == "46-50") | (data['Age'] == "51-55") | (data['Age'] == "55+"))].shape[0]

result = round((m + f) / data.shape[0], 4)
print(result)

0.4077

In [43]:
data['Product_Category_3'].isnull().value_counts()
#data.info()

True     373299
False    164278
Name: Product_Category_3, dtype: int64

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

## Задание 1
Сколько всего возрастных категорий?

In [ ]:
# Ваш код здесь

## Задание 2
Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [ ]:
# Ваш код здесь

In [ ]:
# Ваш код здесь

## Задание 4
Сколько NaN'ов в столбце Product_Category_3?

In [ ]:
# Ваш код здесь

## Задание 5
Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [ ]:
# Ваш код здесь

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно гуглить, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).